.container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.title {
  z-index: 999;
  font-weight: 700;
  font-size: 80px;
  margin-top: 10px;
  text-align: center;
}
